@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Oswald:wght@200..700&family=Pirata+One&family=Quicksand:wght@300..700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-light-blue: #add8df;
    --main-blue: #73d4e5;
    --main-dark-blue: #5e6472;
    --main-grey: #7f7f7f;
    --main-pink: #e68ab3;
    --main-orange: #e6a772;
    --main-text: Quicksand;
    --main-titles: Berkshire Swash;

     --section-px: 80px;
}

html {
    font-size: 62.5%;
    font-family: var(--main-text);
    scroll-behavior: smooth;

}
ul{
    list-style: none;
}

button {

    font-family: var(--main-text);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
section {
    scroll-margin-top: 90px; 
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 90px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 10px black;
    z-index: 10;
}

.logo {
    width: 150px;
    height: 100%;

}

.logo__img {
    display: block;
    object-fit: fill;
    height: 100%;
    width: 100%;

}

.logo__mobile {

    display: none;
}

a{

    text-decoration: none;
    color:var(--main-dark-blue) ;


}

.menu__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;

}

.menu__link {
    text-decoration: none;
    color: var(--main-dark-blue);
    font-weight: bold;
    font-size: 1.7rem;
    transition: all 0.3s;

}

.menu__link:hover {

    color: #73d4e5;
}



.menu__item {

    padding: 15px;

}


.agenda {

    background-color: var(--main-dark-blue);
    border-radius: 40px;
    transition: all 0.3s;

}

.agenda:hover {

    background-color: #73d4e5;
    transform: translateY(-3px);

}

.agenda>a {

    color: white;


}

.agenda>a:hover{

    color: white;


}

main {

    margin-top: 90px;
}

h1 {

    font-family: var(--main-titles);
    color: var(--main-dark-blue);

}


footer {
    padding: 30px 10px;
    background-color: var(--main-dark-blue);
    text-align: center;
    margin-top: auto;
    border-radius: 5px 5px 0 0;

}

footer>p {
    color: white;
}

#toggle__menu,
.menu__icon {

    display: none;
    width: 50px;
    height: 100%;


}


.footer__text {

    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;

}



.white__logo {

    
    background-color: white;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    


}

.white__logo>img{

    width: 100%;



}

.footer__text__section {
    width: 25%;
    color: var(--main-light-blue);
    padding: 20px 10px;

}


.footer__section__title, .footer__section__title>h3{

    font-family: var(--main-titles);
    font-size: 2.5rem;
    font-weight: 500;
    text-align: left;

}

.footer__paragraph>p, .footer__list__item>div>a,.footer__list__item>a, .footer__text__section>p{

    font-family: var(--main-text);
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
    font-weight: 400;
    text-align: left;

}

.footer__list__item{
    text-align: left;
    transition: all 0.2s;
    margin-top: 20px;
    display: flex;
    gap: 10px;

}

.footer__list__item>a:hover,.footer__list__item>div>a:hover{

    color: var(--main-blue);
}

.footer__paragraph>p, .footer__text__section>p{

    font-size: 1.7rem;



}

 .footer__paragraph{

    margin-top: 20px;
    



}

.footer__list{

    list-style: none;
    
}
.footer__link__icon{

    width: 20px;
    transition: all 0.2s;
    


}
.footer__link__icon:hover{

    transform: scale(1.1);


}

.footer__socials{
    margin-top: 30PX;
    margin-left: 10px;
    display: flex;
    gap: 15px;
}
.footer_socials_img{

    transform: scale(1.1);
}
.footer_socials_img:hover{

    transform: scale(1.1);
    cursor: pointer;
}

.footer__brand{
    border-top: rgba(255, 255, 255, 0.531) 1px solid;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

}
.terminos>li>a{
    color: white;
    font-size: 1.3rem;
    font-weight: 400;

}

ul>.terminos>li>a:hover{

    color: var(--main-blue);


}

.brand{

    color: white;
    font-size: 1.3rem;
}

.terminos{
    display: flex;
    gap: 30px;
}


@media(max-width: 900px){


    .footer__text{
        flex-direction: column;
    }

 .footer__text__section{

    width: 50%;
 }

 .footer__paragraph{

    text-align: center;
 }

}


@media (max-width: 600px) {

    :root {
        --section-px: 15px;
    }

    .logo {

        display: none;
    }

    .logo__mobile {

        display: block;
        height: 55%;
        width: 40px;
    }
    .logo__mobile>img{

        width: 100%;
    }

    .menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        border-radius: 0px 0px 5rem 0px;
        transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease, border-radius 0.3s ease;
        background-color: white;
    }



    .menu__list {
        width: 100%;
        gap: 0;
        height: 20rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;


    }

    .menu__list li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        /* border-bottom: 1px solid var(--main-dark-blue); */


    }

    .menu__list li:first-child {
        border-bottom: 1px solid var(--main-dark-blue);
        border-top: 1px solid var(--main-dark-blue);
    }

    .menu__icon {

        display: block;
        cursor: pointer;

    }

    #toggle__menu:checked~.menu {
        height: 20rem;
        width: 100%;
        opacity: 1;
        border-radius: 0px 0px 0px 0px;
    }



    header {
        flex-direction: row-reverse;
        height: 70px;
        transition: border-radius 0.3s ease;

    }

    header:has(#toggle__menu:checked) {
        border-radius: 0 0 0 0;
    }


    



}