@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Oswald:wght@200..700&family=Pirata+One&family=Quicksand:wght@300..700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-light-blue:#add8df;
    --main-blue:#73d4e5;
    --main-dark-blue:#5e6472;
    --main-grey:#7f7f7f;
    --main-pink:#e68ab3;
    --main-orange:#e6a772;
    --main-text: Quicksand;
    --main-titles: Berkshire Swash;
}

html{
    font-size: 62.5%;
    font-family: var(--main-text);

}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header {
    position: relative;
    background-color: white;
    height: 90px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 10px black;
}

.logo{
    width: 150px;
    height: 100%;
    
}

.logo__img{  
    display: block;
    object-fit: fill;
    height: 100%;
    width: 100%;

}

.menu__list{
    display: flex;
    list-style: none;
    gap: 10px;

}

a{
    text-decoration: none;
    color: var(--main-dark-blue);
    font-weight: bold;
    font-size: 1.7rem;
}

.menu__item{

    padding: 15px;

}


.agenda{

    background-color: var(--main-dark-blue);
    border-radius: 40px;
    
} 

.agenda>a{

    color: white;

}


footer {
    padding: 60px;
    background-color: var(--main-grey);
    text-align: center;
    margin-top: auto;
    border-radius: 5px 5px 0 0;

}

footer>p {
    color:white;
}

#toggle__menu,
.menu__icon {

    display: none;
    width: 50px;
    height: 100%;


}

@media (max-width: 600px) {


    .menu {
        position: absolute;
        top: 90px;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        border-radius: 0px 0px 5rem 0px;
        transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease, border-radius 0.3s ease;

    }



    .menu__list {
        width: 100%;
        height: 20rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        

    }

    .menu__list li {
        width: 100%; 
        text-align: center;
        padding: 1.5rem 0;
        border-bottom: 1px solid var(--main-dark-blue);

    
    }

     .menu__list li:last-child {
        border-bottom: none;
    }

    .menu__icon {

        display: block;
        cursor: pointer;

    }

    #toggle__menu:checked ~ .menu{
        height: 20rem;
        width: 100%;
        opacity: 1;
        border-radius: 0px 0px 0px 0px;
    }

   

    header {
        flex-direction: row-reverse;
        height: 90px;
        transition: border-radius 0.3s ease;

    }

   header:has(#toggle__menu:checked) {
        border-radius: 0 0 0 0;
    }



}

